<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <application
        android:logo="@drawable/_______2"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:extractNativeLibs="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/_______2"
        android:label="@string/domore"
        android:roundIcon="@drawable/__3"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">


        <activity
            android:name=".activitiy.MyVolAssociationActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activitiy.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".activitiy.MyVolVolunteerActivity" />
        <activity android:name=".activitiy.RegisterAssociationActivity" />
        <activity android:name=".activitiy.VolunteeringListActivity" />
        <activity android:name=".activitiy.RegisterVolunteerActivity" />
        <activity android:name=".activitiy.LoginActivity" />
        <activity android:name=".activitiy.HomeVolunteerActivity" />
        <activity android:name=".activitiy.HomeAssoActivity" />
        <activity android:name=".activitiy.AddVolunteeringActivity" />
        <activity android:name=".activitiy.EditMyVolAssActivity" />
        <activity android:name=".activitiy.EditMyDetailsAssActivity" />
        <activity android:name=".activitiy.EditMyDetailsVolActivity" />
    </application>
    <queries>
        <package android:name="com.whatsapp" />
    </queries>
</manifest>