<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/untitleddocument1__2_"
        android:label="@string/domore"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:extractNativeLibs="true"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".nocomplete.MyVolAssociation"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.myapplication.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".nocomplete.MyVolVolunteer"/>
        <activity android:name=".RegisterAssociationActivity" />
        <activity android:name=".VolunteeringListActivity" />
        <activity android:name=".RegisterVolunteerActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".HomeVolunteerActivity" />
        <activity android:name=".HomeAssoActivity" />
        <activity android:name=".AddVolunteeringActivity" />
    </application>

</manifest>